<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="css/master.css">
    <title>Email List</title>
</head>
<body>

    <div id="app">
        <h2>Lista Mail</h2>
        <div id="mail-container">
            <ul v-if="mail.length == 10">
                <li v-for="element in mail">
                    {{ mail }}
                </li>
            </ul>
        </div>
    </div>






    <script text="text/javascript" src="js/main.js"></script>
    
</body>
</html>